<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- NFC permission -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Declare NFC hardware feature (optional but recommended) -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />



    <application
        android:name=".SocialConnectionsApp"
        android:allowBackup="true"
        android:label="SocialConnections"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialConnections">

        <service
            android:name=".transmission.AppHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">

            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
        </service>

        <activity android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.SetupActivity" />

        <activity
            android:name=".activities.PathActivity"
            android:exported="false" />

    </application>

</manifest>